<div class="footer">
  <div class="footer-container">
    <p class="tagline">
      An artist shaping emotions, visions, and stories through design
    </p>
    <div class="social-icons">
      <a href="https://www.facebook.com/share/18zNoRZabF/" aria-label="Facebook" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://x.com/mrkn_ahmed?t=Pgw0aZ6k9B09aTb7WkUa5w&s=08" aria-label="X (Twitter)" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-x-twitter"></i>
      </a>
      <a href="https://www.instagram.com/ahmedmmrkn?igsh=MXB0NXRpYnA3OXoxZw==" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/ahmed-mrkn-7381541a3?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" aria-label="LinkedIn" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://www.behance.net/Ahmedmoneermrkn" aria-label="Behance" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-behance"></i>
      </a>

    </div>
  </div>
</div>
